@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
}

ul {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
a:hover {
  color: inherit !important;
}

img {
  width: 100%;
  height: auto;
}

input,
textarea {
  border: none;
  outline: none;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}

header {
  background: #DE3F51;
  background-image: url("../img/header__img.png");
  background-repeat: no-repeat;
  background-position: 800px -42px;
  background-size: contain;
}

.nav__city {
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.logo {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #DE3F51;
  background: #fff;
  padding: 20px;
}

.nav__btn {
  border: none !important;
  padding: 11px 68px !important;
  border-radius: 4px;
  background: #FFFFFF;
}
.nav__btn .nav-link {
  padding: 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px !important;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.section__heading {
  font-size: 42px;
  line-height: 49px;
  display: flex;
  align-items: center;
  color: #000000 !important;
  margin-top: 10px;
  margin-bottom: 20px;
}

.section__subtitle {
  font-size: 18px;
  line-height: 21px;
  color: #000000 !important;
  margin-top: 10px;
  margin-bottom: 40px;
}

.section__suptitle {
  font-size: 32px;
  line-height: 37px;
  color: #000000 !important;
  margin-top: 10px;
  margin-bottom: 40px;
}

.section__btn {
  margin: 50px auto 40px;
  color: #FFFFFF;
  padding: 7.5px 95px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  background: #2F80ED;
  border: none;
  border-radius: 4px;
}

.header__heading {
  margin-top: 90px;
  margin-bottom: 50px;
}
.header__heading h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-bottom: 28px;
}
.header__heading p {
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.header__card-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 90px;
}
.header__card-group .card {
  width: 32% !important;
  height: 170px !important;
}
.header__card-group .card .card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 20px;
}
.header__card-group .card .card-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 10px;
}

.header__input-group {
  background-color: #DE3F51;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(60px) !important;
  padding: 27px 0;
}
.header__input-group .header__input-container {
  position: relative;
}
.header__input-group .header__input-container i {
  color: #DADADA !important;
  position: absolute;
  bottom: 5px;
  left: 28px;
  z-index: 99;
}
.header__input-group .header__input-container input {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  height: 50px;
  color: #828282;
  padding-left: 60px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 4px;
}

.author {
  padding: 90px 0 70px 0;
}

.card__img {
  width: 30px;
  height: 30px;
}

.card__span {
  color: #EB5757 !important;
  opacity: 0.8 !important;
}

.card {
  position: relative;
  border: 1px solid #E0E0E0 !important;
}

.card__img-relative {
  position: relative;
}
.card__img-relative .card__img-class {
  position: absolute;
  left: 7%;
  bottom: 165px;
  transform: translateY(-50%);
  background-color: #DE3F51;
  padding: 1px 3.5px;
  border-radius: 4px;
  color: #FFFFFF;
  opacity: 0.8;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
}
.card__img-relative .author__card-transparent {
  width: 90%;
  position: absolute;
  top: 10px;
  left: 10px;
}
.card__img-relative .author__card-transparent div {
  color: #000000 !important;
  padding: 4px 40px 4px 10px;
  background-color: #FFFFFF !important;
  opacity: 0.6;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  cursor: pointer;
}

.card__img-parent {
  left: 5% !important;
  bottom: 260px !important;
}

.expert {
  padding: 0;
}
.expert .expert__img-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 576px) {
  .expert .expert__img-group .expert__img-group {
    flex-wrap: wrap;
  }
  .expert .expert__img-group .card__profile {
    flex-wrap: wrap !important;
    width: 49%;
  }
}
.expert .expert__img-group .card__profile {
  height: 200px !important;
  width: auto;
  position: relative;
  margin-bottom: 60px;
}
.expert .expert__img-group .card__profile span {
  position: absolute;
  left: 41%;
  bottom: 50px;
  transform: translate(-13%, -45%);
  background-color: #DE3F51;
  padding: 1px 6px;
  border-radius: 4px;
  color: #FFFFFF;
  opacity: 0.8;
}
.expert .expert__img-group .card__profile img {
  display: block;
  margin: 0 auto 30px !important;
  width: 120px;
  height: 120px;
}

.redline__top {
  margin-top: 130px;
}

.redline {
  background-color: #DE3F51;
  text-align: left;
  color: #FFFFFF;
  padding: 40px 70px;
  margin-bottom: 90px;
}
.redline h3 {
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.redline .redline__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.redline .redline__div p {
  margin-top: 42px;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
}
.redline .redline__div button {
  color: #FFFFFF;
  background: transparent;
  padding: 11px 40px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
}

footer {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin-top: 120px;
  margin-bottom: 60px;
}

/*# sourceMappingURL=style.css.map */
